.container {
    height: 650px;
    padding: 1.25rem;
    margin: 0;
    width: 100%;
    display: flex;
    align-items: stretch;
}


.wrapper {
    flex: 0 0 auto;
    width: 91.666667%; /* equivalent to md={11} in Bootstrap */
}

.title {
    background-color: #1b436f;
    padding: 0.5rem;
    font-size: 2.2rem;
    padding-left: 1rem;
    width: fit-content;
    color: white;
    display: flex;
    gap: 1rem;
}

.content {
    padding-top: 1.25rem;
    display: flex;
    height: 100%;
    background-color: white;
}

.Card {
    height: auto;
    background-color: #e5e7eb; /* equivalent to bg-gray-300 in Tailwind */
    width: 41.666667%; /* equivalent to w-5/12 in Tailwind */
    align-items: stretch;
    margin: 0 2.5rem; /* equivalent to mx-10 in Tailwind */
}