:root {
    --prime:#26426c;
    --secondary:#5b7895;
    --third:#26426c;
    --deepblue:#212936;
    --fprime:"Heebo", sans-serif;
    --fsecondary:"Open Sans", sans-serif;
    --fthird:"Secular One", sans-serif;

}