.container {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}
.sidebar {
    position: sticky;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    margin: 0;
    padding: 30px;
    height: 100vh;
    background: var(--deepblue);
    flex-basis: 18%;
    /* border:2px black solid; */
}
.Blocks {
    display: flex;
    flex-basis: 82%;
    margin: 0;
    padding: 0;
    height: 100vh;
}